$white: #ffffff;
$primary-color: #2f1c6a;
$secondary-color: #673de6;
$tetriary-color: #5a5d73;
$button-color: #fc5185;
$second-button-color: #8c85ff;
$third-color: #999;
$border-color: #f0eded;
$footer: #f4f5ff;
$transparent: #ffffff00;
