@import "colors";

.resources {
	display: flex;
	text-align: center;
	justify-content: center;

	color: $primary-color;

	padding: 0 15px;
	margin: 70px 0px;
	&__title {
		margin: 0px 15px 25px;

		font-size: 28px;

		list-style-type: none;
	}
	&__text-bold {
		font-size: 20px;

		list-style-type: none;

		margin-bottom: 10px;
	}
	&__text {
		font-size: 14px;

		list-style-type: none;

		margin-bottom: 30px;
	}
	&__list {
		display: flex;
		flex-direction: column;
		text-align: left;

		padding: 15px 0 15px 30px;
	}
}
